body{
    margin: 0;
    padding: 0;
    background-image: url(other/slika-index.png);
    background-size: cover; 
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.gifdugme1{
    margin-top: 280px;
    margin-left: 515px;
}